.rengorumHeader {
  background-color: #222;
  height: 60px;
  padding-left: 25px;
  padding-right: 25px;
  margin-bottom: 15px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid gray;
}
