.richEditor-wrapper {
  width: 100% !important;
  display: block !important;
  margin-top: 25px !important;
  margin-bottom: 25px !important;
  line-height: normal !important;
}

.richEditor-editor {
  height: auto !important;
  border: 1px solid #F1F1F1 !important;
  padding: 5px !important;
  border-radius: 2px !important;
  min-height: 150px !important;
}

.richEditor-editor a{
  color: blue;
}

.richEditor-toolbar {
  padding: 6px 5px 0;
  border-radius: 2px;
  border: 1px solid #F1F1F1;
  display: flex;
  justify-content: flex-start;
  background: white;
  flex-wrap: wrap;
  font-size: 15px;
  margin-bottom: 5px;
  user-select: none;
}

.richEditor-toolbar a {
  color: black;
}

/* override css from react-draft-wywsgi
https://github.com/jpuri/react-draft-wysiwyg/blob/master/src/renderer/Image/styles.css
*/

.rdw-image-alignment-options-popup {
  position: absolute;;
  background: white;
  display: flex;
  padding: 5px 2px;
  border-radius: 2px;
  border: 1px solid #F1F1F1;
  width: 90px;
  cursor: pointer;
  z-index: 100;
}
.rdw-image-alignment-option {
  height: 20px;
  width: 20px;
  min-width: 20px;
}
