.logoContainer {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.logo {
  animation: logo-spin infinite 20s linear;
  height: 60px;
}

.logoTitle {
  font-size: 20px;
  font-weight: 700;
}

@keyframes logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
