.userMenu {
  display: flex;
  align-items: center;
  color: white !important;
  height: inherit;
}

.userMenu-avatar{
  margin-right: -15px;
}

.userMenu-menu{
  background-color: #222 !important;
  height: inherit;
}

.guestMenu {
  padding: 20px;
  color: black;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: right;
}

.btn-sign-in {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 15px;
  margin-right: 15px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 12px;
  background-color: black;
  height: 40px;
  color: white;
  border: 2px solid #555555;
  outline: none;
  cursor: pointer;
}

.btn-sign-in:hover {
  background-color: #555555;
  color: white;
}

.btn-sign-in:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.btn-register {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 10px;
  margin-right: 5px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 12px;
  background-color: black;
  height: 40px;
  color: white;
  border: 2px solid #555555;
  outline: none;
  cursor: pointer;
}

.btn-register:hover {
  background-color: #555555;
  color: white;
}

.btn-register:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
