.userMenu {
  align-items: right;
  position: relative;
  display: inline-block;
  margin: 0 25px;
}

.userMenu-content {
    display: none;
    position: absolute;
    border: 1px solid #555555;
    border-radius: 15px;
    background-color: black;
    min-width: 155px;
    z-index: 1;
    outline: none;
}

.userMenu-content a {
    color: white;
    border-radius: 15px;
    padding: 12px 5px;
    text-decoration: none;
    display: block;
}

.userMenu-content a:hover {
  background-color: #555555;
  color: white;
}

.userMenu:hover .userMenu-content {
    display: block;
}

.userMenu:hover .dropProfile {
    background-color: #555555;
    color: white;
}

.dropProfile {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  height: 55px;
  color: white;
  font-size: 1em;
  outline: none;
  padding: 0 5px;
  border: 1px solid #555555;
  border-radius: 15px;
  background-color: black;
}

.dropProfile:hover {
  background-color: #555555;
  color: white;
}

p.username {
  margin-left: 7px;
  margin-right: 7px;
}

.guestMenu {
  height: 50px;
  padding: 20px;
  color: black;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: right;
}

.userAvatar {
  width: 40px;
  height: 40px;
  border-radius: 10px;
}

.userMenu-content .btn-logout {
  min-width: 155px;
}

.userMenu-content .btn-logout .loader{
  height: 30px;
  width: 100%;
}

.userMenu-content .btn-logout .loader .loader-spinning-wheel{
  height: 20px;
  width: 20px;
}

.btn-logout {
  border-radius: 12px;
  background-color: black;
  height: 40px;
  color: white;
  font-size: 1em;
  border: 2px solid transparent;
  outline: none;
}

.btn-logout:hover {
  background-color: gray;
  color: white;
}

.btn-sign-in {
  margin-top: 5px;
  margin-left: 15px;
  margin-right: 5px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 12px;
  background-color: black;
  height: 40px;
  color: white;
  font-size: 0.9em;
  border: 2px solid #555555;
  outline: none;
  cursor: pointer;
}

.btn-sign-in:hover {
  background-color: #555555;
  color: white;
}

.btn-sign-in:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.btn-register {
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 12px;
  background-color: black;
  height: 40px;
  color: white;
  font-size: 0.9em;
  border: 2px solid #555555;
  outline: none;
  cursor: pointer;
}

.btn-register:hover {
  background-color: #555555;
  color: white;
}

.btn-register:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
