.btn {
  margin-left: 5px;
  margin-right: 5px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 12px;
  background-color: #a36eff;
  height: 35px;
  color: white;
  font-size: 0.9em;
  border: 2px solid #a36eff;
  outline: none;
  cursor: pointer;
}

.btn:hover {
  background-color: #a36effa3;
  color: white;
}

.btn:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.btn .loader{
  height: 30px;
  width: 100%;
}

.btn .loader .loader-spinning-wheel{
  height: 20px;
  width: 20px;
}
