.btn {
  margin-left: 5px;
  margin-right: 5px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 12px;
  background-color: black;
  height: 35px;
  color: white;
  font-size: 0.9em;
  border: 2px solid #555555;
  outline: none;
}

.btn:hover {
  background-color: #555555;
  color: white;
}

.btn:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
