.homeContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 40px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

.home-list {
  width: 100% !im;
}

.homeContainer a:-webkit-any-link {
  cursor: pointer;
  color: black;
  font-weight: bold;
}

.home-avatar {
  width: 50px;
  max-width: none !important; /*overrides semantic-ui-react max-width of 100% */
  height: 50px;
  border-radius: 5px;
  margin-right: 10px;
  margin-top: 4px;
}

.home-text {
  vertical-align: middle;
  text-align: left;
}

.home-vertical {
  position: relative;
  top: 10%;
}

.home-row {
  display: flex;
  flex-direction: row;
}

.home-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home-stats {
  font-size: 14px;
  vertical-align: middle;
  left: 25%;
}

.home-meta a {
  color: gray !important;
  font-size: 12px;
}

.home-meta b{
  color: gray !important;
  font-size: 10px;
}

.home-error {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 33%;
  color: rgba(231, 76, 60,1.0);
  font-size: 12px;
  font-weight: bold;
  text-align: center;
}
