.UserProfile {
  margin-top: 20px;
  display: flex;
  @media largeBP { flex-flow: row nowrap; }
}

.userProfile-loading {
  margin-top: 20px;
  text-align: center;
}

.userProfile-error {
  margin-top: 20px;
  color: rgba(231, 76, 60,1.0);
  font-size: 12px;
  font-weight: bold;
  text-align: center;
}
