.profileContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.profileAvatar {
  width: 150px;
  height: 150px;
  border-radius: 10px;
}

.profileInfo {
  margin-left: 20px;
  letter-spacing: 1px;
}

.profileInfo .name { font-size: 24px; margin-bottom: 5px;}
.profileInfo .username { font-size: 14px; font-weight: bold; margin-bottom: 10px;}
.profileInfo .username .staffStatus{ color: red;}
.profileInfo .status { font-size: 14px; margin-bottom: 5px;}
.profileInfo .dateJoined { font-size: 14px; margin-bottom: 5px;}
.profileInfo .bio { font-size: 14px; margin-bottom: 5px;}
