body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.container {
  text-align: center;
  min-width: 500px;
}

a:-webkit-any-link{
  text-decoration:none;
  cursor: pointer;
  color: white;
}

.logo-link {
  font-size: 1.5em;
  text-decoration:none;
  cursor: pointer;
  color: white;
}
