.header {
  background-color: #222;
  height: 60px;
  padding: 5px;
  color: white;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}

.userAvatar {
  border-radius: 10px;
  width: 45px;
  height: 45px;
}
