.threadContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 30px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

.threadContainer a:-webkit-any-link {
  cursor: pointer;
  color: black;
  font-weight: bold;
}

.thread-list {
  width: 100% !important;
}

.thread-error {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 33%;
  color: rgba(231, 76, 60,1.0);
  font-size: 12px;
  font-weight: bold;
  text-align: center;
}

.thread-title {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  font-weight: bold;
  font-size: 35px;
  padding: 10px;
  margin-bottom: 20px;
}
