.threadContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 30px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

.threadPost-wrapper {
  width: 100% !important;
  display: block !important;
}

.threadPost-editor {
  height: auto !important;
}

.threadPost-editor a{
  color: blue;
}

.threadPost-toolbar {
  display: flex;
  justify-content: flex-start;
  background: white;
  flex-wrap: wrap;
  font-size: 15px;
  user-select: none;
}

.threadPost-toolbar a {
  color: black;
}

.thread-list {
  width: 100% !important;
}

.threadContainer a:-webkit-any-link {
  cursor: pointer;
  color: black;
  font-weight: bold;
}

.thread-avatar {
  width: 80px;
  height: 80px;
  border-radius: 6px;
  margin-right: 12px;
}

.thread-text {
  vertical-align: middle;
  text-align: left;
}

.thread-vertical {
  position: relative;
  top: 25%;
}

.thread-row {
  display: flex;
  flex-direction: row;
}

.thread-column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.thread-title {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  font-weight: bold;
  font-size: 35px;
  padding: 10px;
  margin-bottom: 20px;
}

.thread-name {
  font-weight: bold;
  font-size: 15px;
  margin-top: auto;
  margin-bottom: auto;
}

.thread-username a{
  font-size: 14px;
  margin-top: auto;
  margin-bottom: auto;
  color: gray !important;
}

.thread-status {
  font-weight: normal;
  font-size: 14px;
  color: purple;
  margin-top: auto;
  margin-bottom: auto;
}

.thread-time {
  color: gray !important;
  font-size: 14px;
}

.thread-error {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 33%;
  color: rgba(231, 76, 60,1.0);
  font-size: 12px;
  font-weight: bold;
  text-align: center;
}
