{% load static %}<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Categories</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">>
  </head>
  <body>
    <div class="container">
      <ol class="breadcrumb my-4">
        <li class="breadcrumb-item active">Categories</li>
      </ol>
      <table class="table">
        <thead class="thead-inverse">
          <tr>
            <th>Category</th>
            <th>Starter</th>
            <th>Replies</th>
            <th>Views</th>
            <th>Last Activity</th>
          </tr>
        </thead>
        <tbody>
          {% for category in categories %}
            <tr>
              <td>
                {{ category.name }} <br>
                <small class"text-muted d-block">{{ category.description }}</small>
              </td>
              <td class="align-middle">-</td>
              <td class="align-middle">0</td>
              <td class="align-middle">0</td>
              <td></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </body>
</html>
   
